@model Domain.Entities.Service

<div class="row custom-form-container">
    <div class="col-12">
        <div class="content-header">أضف خدمة</div>
    </div>
</div>
<section id="basic-hidden-label-form-layouts">
    <div class="row match-height custom-form-container">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="TitleAr" class="control-label">العنوان عربي</label>
                                <input asp-for="TitleAr" class="form-control" />
                                <span asp-validation-for="TitleAr" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TitleEn" class="control-label">العنوان انجليزى</label>
                                <input asp-for="TitleEn" class="form-control" dir="ltr" />
                                <span asp-validation-for="TitleEn" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ShortDescAr" class="control-label">وصف قصير عربي</label>
                                <textarea asp-for="ShortDescAr" class="form-control" dir="ltr" type="textarea" rows="5"></textarea>
                                <span asp-validation-for="ShortDescAr" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ShortDescEn" class="control-label">وصف قصير انجليزى</label>
                                <textarea asp-for="ShortDescEn" class="form-control" type="textarea" rows="5"></textarea>
                                <span asp-validation-for="ShortDescEn" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LongDescAr" class="control-label">وصف طويل عربي</label>
                                <textarea class="form-control" asp-for="LongDescAr" dir="rtl" type="textarea" rows="5"></textarea>
                                <span asp-validation-for="LongDescAr" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LongDescEn" class="control-label">وصف طويل انجليزى</label>
                                <textarea asp-for="LongDescEn" class="form-control" dir="ltr" type="textarea" rows="5" ></textarea>
                                <span asp-validation-for="LongDescEn" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Img" class="control-label">الصورة</label>
                                <input type="file" accept="image/*" onchange="readURL(this,'ImageView');" id="Img" name="Img" class="form-control" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="ShowHome" /> عرض فى الرئيسيه
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="اضافة" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-secondary"><i class="ft-x mr-1"></i>الرجوع</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
