@model Domain.Entities.Features

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}

<h1>Edit</h1>

<h4>Features</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActiveFeature" /> @Html.DisplayNameFor(model => model.IsActiveFeature)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PricingId" class="control-label"></label>
                <select asp-for="PricingId" class="form-control" asp-items="ViewBag.PricingId"></select>
                <span asp-validation-for="PricingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

